:root {
  --light: #37cae5;
  --font: #123f77;
  --accent: #0f86b6;
  --contrast: #f5db37;
}

* {
  box-sizing: border-box;
  color: var(--font);
}

input {
  outline: none;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid var(--light);
  font-size: 1.3rem;
}

img {
  pointer-events: none;
}

dialog::backdrop {
  backdrop-filter: blur(0.5rem);
}
dialog {
  padding: 20px;
}

#modal form {
  height: 80vh;
  width: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#modal h1 {
  font-style: italic;
}

#modal-result {
  height: 50vh;
  width: 50vh;
  text-align: center;
}

.field {
  margin: 20px 0;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  margin: 30px 0;
}

.btn {
  padding: 1rem 2rem;
  border-radius: 20px;
  margin: 20px;
  background-color: var(--light);
  color: var(--font);
  border: 2px solid var(--font);
  font-weight: 600;
  cursor: pointer;
}

.btn:hover {
  filter: brightness(90%);
}

.icon {
  display: inline-flex;
  gap: 10px;
  align-items: center;
  overflow: hidden;
  width: 10rem;
}

.computer {
  content: url("./assets/icons/ComputerTwotone.svg");
}

.disabled {
  pointer-events: none;
}

#btn-replay {
  background-color: var(--contrast);
}

.player-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mark {
  font-size: 2rem;
  font-weight: 900;
}

.avatar {
  height: 200px;
}

.selected {
  filter: drop-shadow(6px 6px 4px var(--font));
  transform: scale(1.2);
  transform: rotate3d(0, 1, 0, 360deg);
  transition-duration: 0.3s;
}

.name {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 1.5rem;
}

#gameboard {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  justify-self: center;
  width: 50vw;
  height: 50vw;
}

.box {
  border: 1px solid var(--font);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  font-weight: 900;
}

.box:hover {
  background-color: var(--light);
}

.winseq {
  background-color: var(--contrast);
  pointer-events: none;
  transform: rotate(360deg);
  transition-duration: 500ms;
}
